<!DOCTYPE html>
<html lang="en">
    <head>
        <title>SpaceX Capsules Discovery</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <header class="bg-gray-900 text-white">
            <div class="container mx-auto px-4 py-2">
                <h1 class="text-2xl font-bold"><a href="/">SpaceX Capsules Discovery</a></h1>
            </div>
        </header>
        <main class="container mx-auto px-4 py-2">
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>
