{% extends "spacex/base.html" %}

{% block content %}
<section class="text-gray-700 body-font overflow-hidden bg-white">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <img alt="capsule image" class="lg:w-1/2 w-full object-cover object-center rounded border border-gray-200"
                src="{{ capsule.flickr_images.0 }}">
            <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
                <h2 class="text-sm title-font text-gray-500 tracking-widest">CAPSULE</h2>
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{ capsule.name }}</h1>
                <p class="leading-relaxed mb-2">{{ capsule.description }}</p>
                <div>
                    <a href="/" class="rounded-sm text-white bg-gray-700 text-xs my-3 px-4 py-2">Voir tout</a>
                </div>
            </div>
        </div>

        <h2 class="text-xl font-medium mt-4">Details Techniques</h2>
        <hr class="mb-4">
        <div class="relative overflow-x-auto">
            <table class="w-full text-sm text-left text-gray-500">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Propriété
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Valeur
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            En usage
                        </th>
                        <td class="px-6 py-4">
                            {% if capsule.active %}
                            Oui
                            {% else %}
                            Non
                            {% endif %}
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Durée en orbite (ans)
                        </th>
                        <td class="px-6 py-4">
                            {{ capsule.orbit_duration_yr }}
                        </td>
                    </tr>
                    <tr class="bg-white">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                            Masse (Kg)
                        </th>
                        <td class="px-6 py-4">
                            {{ capsule.dry_mass_kg }}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <h2 class="text-xl font-medium mt-4">Gallerie</h2>
        <hr class="mb-4">
        <div class="flex space-x-2">
            {% for image in capsule.flickr_images %}
            <div class="relative w-48 h-48">
                <img class="rounded-sm border border-gray-100 shadow-sm" src="{{image}}" alt="user image" />
            </div>
            {% endfor %}
        </div>
</section>
{% endblock %}
