{% extends "spacex/base.html" %}

{% block content %}
{% for capsule in capsules %}
<!-- component -->
<div class="mx-auto px-4 py-8 max-w-xl">
    <div class="bg-white shadow-2xl rounded-lg tracking-wide">
        <div class="md:flex-shrink-0">
            <img src="{{ capsule.flickr_images.0 }}" alt="mountains"
                class="w-full h-64 rounded-lg rounded-b-none">
        </div>
        <div class="px-4 py-2 mt-2">
            <h2 class="font-bold text-2xl text-gray-800 tracking-normal">{{ capsule.name }}</h2>
            <p class="text-sm text-gray-700 px-2 py-0.5 mr-1">
                {{ capsule.description }}
            </p>
            <div class="flex items-center justify-between my-2 mx-6">
                <a href="{% url 'capsule' capsule.id %}" class="rounded-sm text-white bg-gray-700 text-xs -ml-3 px-4 py-2">Voir plus</a>
            </div>
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}
